.ButtonGroup-repetition {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.ButtonGroup-option {
    display: inline-block;
    background-color: white;
    background-image: linear-gradient(to bottom, white, #f2f2f2);
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #ccc;
    color: #333;
    font-weight: 300;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
}

.ButtonGroup-option:hover {
    background: white;
}

.ButtonGroup-option:first-child {
    border-left-width: 1px;
    border-left-style: solid;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.ButtonGroup-option:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ButtonGroup-option.selected {
    background-color: #59378d;
    background-image: none;
    border-color: #492d74;
    color: white;
    pointer-events: none;
    cursor: default;
}

