.Storage {

}

.Storage-title {
    float: left;
    font-size: 30px;
    line-height: 35px;
    font-weight: 200;
    padding: 25px 22px 0 25px;
    background: white;
}

.Storage-title:after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 25px;
    right: 25px;
    margin-top: -18px;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.Storage-body {
    position: relative;
    clear: both;
}

.Storage-info {
    position: absolute;
    right: 0;
    left: 0;
    top: 10px;
    margin: 0 auto 25px auto;
    width: 100%;
    height: auto;
    max-width: 550px;
    padding: 15px;
    box-sizing: border-box;
    -webkit-transition: all ease-in .3s;
    display: none;
}

.Storage-info-image {
    width: 122px;
    height: 130px;
    padding: 15px;
    float: left;
}

.Storage-info-title {
    margin: 20px 0 10px 0;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 200;
}

.Storage-info-content {
    font-weight: 300;
    padding-bottom: 13px;
}
