
.DiskItem.disk-icon {
    text-align: center;
    margin: 0.25em;
    position: relative;
}
.DiskItem.disk-icon > img {
    width: 3.5em;
}
.DiskItem.disk-icon .primary-text {
    display: block;
}
.DiskItem.disk-icon .secondary-text {
    display: block;
    font-size: 0.8em;
}
.DiskItem.disk-icon.temp-overheat {
    background-color: red;
}
.DiskItem.disk-icon.temp-warn {
    background-color: yellow;
}
.DiskItem.disk-icon:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -2.5em;
    top: 0.2em;
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
}
.DiskItem.disk-icon.smart-pass:before {
    background: #0dc92e;
}
.DiskItem.disk-icon.smart-warn:before {
    background: orange;
}
.DiskItem.disk-icon.smart-fail:before {
    background: red;
}
