@import url("lato-font.css");
@import url("elegant-icons.css");

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

.Freenas-button {
    border-radius: 4px;
    background: linear-gradient(to bottom, #fff, #f2f2f2);
    color: #333;
    line-height: 26px;
    padding: 0 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    outline: none;
    font-weight: 300;
    text-align: center;
}

.Freenas-button:hover {
    background: white;
}

.Freenas-submit-button {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    background: linear-gradient(to bottom, #0196d8, #0184bf);
    border-radius: 4px;
    color: white;
    cursor: pointer;
    outline: none;
    font-weight: 300;
    text-align: center;
}

.Freenas-submit-button:hover {
    background: #0184bf;
}
