.NotificationBar {
    position: relative;
    background-color: #1f1f1f;
    display: flex;
    justify-content: flex-end;
}

.loggedUser {
    position: relative;
    color: #FFF;
    align-self: center;
    font-size: 18px;
    padding-right: 25px;
    font-weight: 200;
}

.NotificationBar .logout {
    width: 80px;
    height: 50px;
    border-radius: 0;
    border: none;
    color: #FFF;
}
