/* Global */

h4 {
    font-size: 18px;
    line-height: 1.42857143;
    font-weight: 200;
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    color: #555;
    height: 30px;
    padding: 4px 12px;
    transition: border-color ease-in-out .15s,
                background-color ease-in-out .15s;
}

.form-control:hover {
    border-color: #01a8f1;
    background-color: rgba(255,255,255,.5);
}

.checkbox {
    position: relative;
}

.checkbox label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.checkbox span {
    display: inline-block;
}

input[type="checkbox"] {
    display: block;
    position: absolute;
}

/* ---------------- */


.Settings-sectionButtonGroup {
    text-align: center;
}

.settings-content {
    max-width: 800px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.settings-col {
    -webkit-flex: 1 0 350px;
        -ms-flex: 1 0 350px;
            flex: 1 0 350px;
    max-width: 400px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

.settings-content h4 {
    margin-top: 0;
}

.settings-container {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 10px;
    border: 1px solid #ccc;
}

.Settings .buttons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.Settings .buttons .btn + .btn {
    margin-left: 10px;
}
