.Settings-sectionButtonGroup {
    text-align: center;
}

.settings-content {
    max-width: 800px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.settings-col {
    -webkit-flex: 1 0 350px;
        -ms-flex: 1 0 350px;
            flex: 1 0 350px;
    max-width: 400px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

.settings-content h4 {
    margin-top: 0;
}

.settings-container {
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 10px;
    border: 1px solid #ccc;
}

.Settings .buttons {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.Settings .buttons .btn + .btn {
    margin-left: 10px;
}
